<!DOCTYPE html>
<html lang="pt">
<head>

    <title>Recuperação de Custo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <!-- Última versão CSS compilada e minificada -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="../../css/styles.css">

</head>

<body ng-app="recCustoApp">
	<div class="container-fluid" ng-controller="autenticacaoCtrl as ct">

		<div id="panel-login" class="panel panel-default">
			<div class="panel-heading">
		        <h3 class="panel-title">Autenticação</h3>
		    </div>
		    <div class="panel-body">
		        <form role="form">
		            <fieldset>
		                <div class="form-group">
		                    <input class="form-control" placeholder="Usuário" name="username" id="username" autofocus ng-model="ct.user.Login">
		                </div>
		                <div class="form-group">
		                    <input class="form-control" placeholder="Senha" name="password" id="password" type="password"  ng-model="ct.user.Senha" ng-keypress="ct.keypressedSenha($event, ct.user)">
		                </div>
<!-- 		                <div class="checkbox" ng-hide="true">
		                    <label>
		                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
		                    </label>
		                </div> -->
		                <!-- Change this to a button or input when using this as a form -->
		                <button class="btn btn-success btn-block" ng-click="ct.autentica(ct.user)" ng-disabled="!ct.user || !ct.user.Login || !ct.user.Senha">Entrar</button>
		            </fieldset>
		        </form>
		    </div>
		</div>
	    

	</div>

	<!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>

    <!-- Controller -->
    <script src="autenticacaoCtrl.js"></script>

    <!-- Service -->
    <script src="../../js/services/sessionStorageService.js"></script>
    <script src="../../js/services/messagesService.js"></script>

    <!-- APIs -->
    <script src="../../js/APIs/autenticacaoAPI.js"></script>

    <!-- Values -->
    <script src="../../js/values/configValue.js"></script>

    <!-- Optional JavaScript -->
    <!-- Inclui todos os plugins compilados (abaixo), ou inclua arquivos separadados se necessário -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>	