<div ng-if="cicloAtual">
    <div class="row">
        <div class="col-md-8 col-xs-6">
            <form class="form-group" ng-submit="ct.sendFile()">

                <div class="row">
                    <div class="col-md-12">
                        <label class="custom-file-upload">
                            <input type="file" name="file">
                            <i class="fa fa-upload"></i> Escolher Arquivo para Importação
                        </label>
                    </div>
                </div>
                

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <input type="text" name="input-files-label" class="form-control" id="input-files-label" disabled style="display: none;">
                    </div>
                    <input type="submit" class="btn btn-success" value="Importar" id="button-upload-file" style="display: none;"/>
                </div>

            <!--</div> -->
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-6">
            <div class="form-group">
                <label for="select-ciclo">Ciclo</label>
                <select id="select-ciclo" class="form-control" ng-options="(c.Descricao + ' (' + (c.DataInicio | date:'MMM/yy') + ' - ' + (c.DataFim | date:'MMM/yy') + ')') for c in (ct.ciclos | orderBy:'-DataInicio' | limitTo:20) track by c.Codigo" ng-model="cicloAtual" ng-disabled="ct.usuario.Perfil!='Administrador'">
                </select>
            </div>
        </div>
    </div>


    <hr>

    <form role="form" novalidate name="form.formRecuperacoes" id="formRecuperacoes">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="form-group" ng-class="{'has-error': form.formRecuperacoes.inputOrigem.$invalid && form.formRecuperacoes.inputOrigem.$dirty}">
                    <label for="inputOrigem">CR de Origem</label>
                    <input type="text" name="inputOrigem" id="inputOrigem" class="form-control" required ng-model="ct.novaRec.CROrigem" ng-maxlength="9">
                    <!-- <select id="selectOrigem" name="selectOrigem" class="form-control" ng-options="cr.Codigo as (cr.Codigo + ' - ' + cr.Descricao) for cr in ct.crsOrigem" ng-model="ct.novaRec.CROrigem" required ng-change="ct.alteraCROrigem(ct.novaRec.CROrigem)">
                    </select> -->
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="form-group" ng-class="{'has-error': form.formRecuperacoes.inputDestino.$invalid && form.formRecuperacoes.inputDestino.$dirty}">
                    <label for="inputDestino">CR de Destino</label>
                    <input type="text" name="inputDestino" id="inputDestino" class="form-control" required ng-model="ct.novaRec.CRDestino" ng-maxlength="9">
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-12">
                <table class="table" id="table-rec">
                    <thead>
                        <th width="20%">Tipo de Recuperação</th>
                        <th class="text-center" ng-repeat="m in cicloAtual.Meses">
                            {{m.Mes | date:'MMM/yy'}}
                        </th>
                    </thead>
                    <tbody ui-input-parent>
                        <td ng-class="{'has-error': form.formRecuperacoes.selectTipo.$invalid && form.formRecuperacoes.selectTipo.$dirty}">
                            <select id="selectTipo" name="selectTipo" class="form-control" ng-options="t.Codigo as t.Tipo for t in ct.tipos" ng-model="ct.novaRec.TipoRecuperacaoCod" required></select>
                        </td>
                        <td ng-repeat="m in cicloAtual.Meses" ng-class="{'has-error': form.formRecuperacoes.inputValor{{$index}}.$invalid}">
                            <input type="text" ui-input-child class="form-control text-center" id="inputValor{{$index}}" name="inputValor{{$index}}" ng-model="ct.novaRec.Recuperacoes[m.Codigo]" ng-pattern="/^\d+\.?\d{0,2}$/">
                        </td>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group" ng-class="{'has-error': form.formRecuperacoes.inputMotivo.$invalid && form.formRecuperacoes.inputMotivo.$dirty}">
                    <label for="inputMotivo">Motivo</label>
                    <textarea id="inputMotivo" name="inputMotivo" required class="form-control" ng-model="ct.novaRec.Motivo" ng-maxlength="4000"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" ng-show="form.formRecuperacoes.$error.pattern">
                <small class="text-muted" style="color: red;">Os campos de valores só aceitam valores numéricos, de até duas casas decimais, separadas por ponto (.).</small>
                <hr>
            </div>

            <div class="col-md-12" ng-show="form.formRecuperacoes.inputOrigem.$error.maxlength || form.formRecuperacoes.inputDestino.$error.maxlength">
                <small class="text-muted" style="color: red;">Código do CR deve conter no máximo 9 caracteres.</small>
                <hr>
            </div>

            <div class="col-md-12" ng-show="form.formRecuperacoes.inputMotivo.$error.maxlength">
                <small class="text-muted" style="color: red;">O motivo deve conter no máximo 4000 caracteres.</small>
                <hr>
            </div>
        </div>
        

        <button class="btn btn-primary" ng-disabled="form.formRecuperacoes.$invalid" ng-click="ct.enviarRecuperacoes()">Enviar</button>


    </form>

    <hr>

    <table class="table table-condensed table-striped">
    	<thead>
    		<tr>
    			<th width="9%">CR Origem</th>
    			<th width="9%">CR Destino</th>
                <th width="12%">Tipo</th>
    			<!-- <th width="15%">Motivo</th> -->
    			<th ng-repeat="m in cicloAtual.Meses" class="text-right">
    				{{m.Mes | date:'MMM/yy'}}
    			</th>
                <th width="5%"></th>
                <th width="2%"></th>
    		</tr>
    	</thead>

        <tbody>
            <tr ng-repeat="r in ct.recuperacoes | orderBy:'-DataHora'">
                <td>{{r.CROrigem}}</td>
                <td>{{r.CRDestino}}</td>
                <td>{{r.Tipo | ellipsis:3:8}}</td>
                <!-- <td>{{r.Motivo | ellipsis:13:8}}</td> -->
                <td ng-repeat="m in cicloAtual.Meses" class="text-right">
                    {{r.Recuperacoes[m.Codigo] | number:2}}
                </td>
                <td class="text-right">
                    <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalInfoEnvio" ng-click="ct.recInfo = r;"><i class="fa fa-info"></i></button>
                    <button class="btn btn-danger btn-xs" ng-if="r.Aprovado == null" ng-click="ct.deleteRecuperacao(r.Codigo)"><i class="fa fa-trash-o"></i></button>
                </td>
                <td>
                    <i ng-show="r.Aprovado == null" class="fa fa-hourglass-start"></i>
                    <i ng-show="r.Aprovado" style="color: green;" class="fa fa-thumbs-up"></i>
                    <i ng-show="r.Aprovado == false" style="color: red;" class="fa fa-thumbs-down"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-if="!cicloAtual">
    <h4>Não existem ciclos abertos!</h4>
</div>


<div class="modal fade" id="modalInfoEnvio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Informações da Solicitação</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <dl class="dl-horizontal">
                            <dt>CR Origem</dt>
                            <dd>{{ct.recInfo.CROrigem}}</dd>
                            <dt>Descrição CR Origem</dt>
                            <dd>{{ct.recInfo.DescricaoCROrigem}}</dd>
                            <dt>Tipo de Recuperação</dt>
                            <dd>{{ct.recInfo.Tipo}}</dd>
                            <dt>Motivo da Recuperação</dt>
                            <dd>{{ct.recInfo.Motivo}}</dd>
                            <dt>Responsável pelo CR</dt>
                            <dd>{{ct.recInfo.ResponsavelOrigem}}</dd>
                            <dt>E-mail do Responsavel</dt>
                            <dd>{{ct.recInfo.EmailOrigem}}</dd>
                            <dt>Enviado por</dt>
                            <dd>{{ct.recInfo.NomeEnvio}}</dd>
                            <dt>Data de Envio</dt>
                            <dd>{{ct.recInfo.DataHora | date:'dd/MMM/yy HH:mm'}}</dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt>CR Destino</dt>
                            <dd>{{ct.recInfo.CRDestino}}</dd>
                            <dt>Descrição CR Destino</dt>
                            <dd>{{ct.recInfo.DescricaoCRDestino}}</dd>
                            <dt>Responsável pelo CR</dt>
                            <dd>{{ct.recInfo.ResponsavelDestino}}</dd>
                            <dt>E-mail do Responsavel</dt>
                            <dd>{{ct.recInfo.EmailDestino}}</dd>
                        </dl>

                        <dl class="dl-horizontal" ng-hide="ct.recInfo.Aprovado != null">
                            <dt>Status</dt>
                            <dd>Aguardando aprovação</dd>
                        </dl>

                        <dl class="dl-horizontal" ng-if="ct.recInfo.Aprovado != null">
                            <dt>Aprovado?</dt>
                            <dd><span ng-show="ct.recInfo.Aprovado">Sim</span><span ng-show="!ct.recInfo.Aprovado">Não</span></dd>
                            <dt ng-hide="ct.recInfo.Aprovado">Resposta</dt>
                            <dd ng-hide="ct.recInfo.Aprovado">{{ct.recInfo.Resposta}}</dd>
                            <dt>Data da Resposta</dt>
                            <dd>{{ct.recInfo.DataHoraResposta | date:'dd/MMM/yy HH:mm'}}</dd>
                        </dl>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
