<form novalidate role="form" name="formCiclos">
	<div class="row">
	    <div class="col-md-3 col-xs-6">
	        <div class="form-group">
	            <label for="inputCodigo">Código</label>
	            <input type="text" id="inputCodigo" class="form-control" ng-model="cicloAtual.Codigo" disabled>
	        </div>
	    </div>
	</div>

	<div class="row">
		<div class="col-md-8 col-xs-12">
	        <div class="form-group" ng-class="{'has-error': formCiclos.inputDescricao.$invalid}">
	            <label for="inputDescricao">Descrição</label>
	            <input type="text" id="inputDescricao" class="form-control" ng-model="cicloAtual.Descricao" required ng-disabled="cicloAtual.Codigo">
	        </div>
	    </div>

	    <div class="col-md-2 col-xs-6">
	        <div class="form-group" ng-class="{'has-error': formCiclos.inputDataInicio.$invalid}">
	            <label for="inputDataInicio">Data Início</label>
	            <input type="date" id="inputDataInicio" class="form-control" ng-model="cicloAtual.DataInicio" required ng-disabled="cicloAtual.Codigo">
	        </div>
	    </div>

	    <div class="col-md-2 col-xs-6">
	        <div class="form-group" ng-class="{'has-error': formCiclos.inputDataFim.$invalid}">
	            <label for="inputDataFim">Data Fim</label>
	            <input type="date" id="inputDataFim" class="form-control" ng-model="cicloAtual.DataFim" required ng-disabled="cicloAtual.Codigo">
	        </div>
	    </div>
	</div>

	<button class="btn btn-success" ng-click="ct.abrirCiclo(cicloAtual)" ng-disabled="formCiclos.$invalid" ng-if="!cicloAtual.Codigo"><i class="fa fa-unlock"></i> Abrir o ciclo</button>
	<button class="btn btn-danger" ng-if="cicloAtual.Codigo" ng-click="ct.fecharCiclo(cicloAtual)"><i class="fa fa-lock"></i> Fechar o ciclo</button>
</form>
<hr>

<div class="row">
	<div class="col-md-12">
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>Código</th>
					<th>Descrição</th>
					<th>Data Início</th>
					<th>Data Fim</th>
					<th width="6%"></th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="c in ct.todosCiclos">
					<td>{{c.Codigo}}</td>
					<td>{{c.Descricao}}</td>
					<td>{{c.DataInicio | date:'dd/MMM/yy'}}</td>
					<td>{{c.DataFim | date:'dd/MMM/yy'}}</td>
					<td class="text-right">
						<button class="btn btn-success btn-xs" ng-click="ct.reabrirCiclo(c)"><i class="fa fa-unlock"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>